@CHARSET "ISO-8859-1";

#grid {
	border: 0px;
	border-spacing: 10px
}

.qm {
	width: 150px;
	height: 112px;
	border: 1px rgb(0, 0, 0) solid;
}

.thumb {
	width: 150px;
	height: 112px;
	border: 1px rgb(0, 0, 255) solid;
	cursor: hand;
}

#zoomer {
	position: absolute;
	display: none;
	border: 2px solid blue;
	z-index: 3;
}

#dialog {
	display: none;
}

#creature {
	width: 800px;
	height: 600px;
	vertical-align: middle;
}

#left_img {
	margin-right: 10px;
	vertical-align: middle;
	border: 0px;
	cursor: hand;
}

#right_img {
	margin-left: 10px;
	vertical-align: middle;
	border: 0px;
	cursor: hand;
}